* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top{
    background-color:#1c1917;
     margin: 0;
    padding: 0;
    position: sticky;
    top:0;
    z-index: 4;

}
.top img.logo{
    width: 200px;
    height: 50px;
    display: flex;
   
    
}
.top nav{
    display: flex;
  align-items: center;      
  justify-content: space-between;
  padding: 20px 40px;
}

 .top nav ul{
    list-style: none;
    display:flex;
    margin-left:0;
    padding: 0;
    align-items:flex-start;
    gap: 20px;
    
  
}
.top nav ul li a{
    color: rgba(255, 255, 255, 0.729);
}
.top nav ul li.one a:hover {
  color:#b45309c9;
}
.top nav ul li.sign a:hover {
  color:white;
}
.top nav a{
    text-decoration: none;
    color: rgb(9, 8, 8);
}
.down{
    margin: 0;
    padding: 0;
    height: 40vh;
    background-position: center;
    background-size:cover;
    z-index:3;
    
}
.down img{
    width: 100%;
    height: 85vh;
    object-fit: cover;
    z-index:-1 ;
    margin-bottom:10%; 
    filter: brightness(40%);
    
} 
.overlay{
    position: absolute;
    top:40%;
    right: 6%;
     text-align: center;
     font-size:18px;
        color:beige;
   z-index: 2;
   line-height: 30px;
}

span{
    font-weight: bold;
    text-transform:uppercase ;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    word-spacing: 20px;
    color: #b45309;
}
button{
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
    width: 10%;
    margin-top: 3%;
    border:1.4px solid rgba(255, 255, 255, 0.504) ;
    z-index: 1;
}
.bttn1{
   margin-right: 30px;
   width: 100px;
   color: antiquewhite;
   margin-left: 4%;
   
}
.bttn2{
      margin-right: 30px;
   width: 100px;
   color: antiquewhite; 
}
.bttns{
    margin-left: 20%;
}
button:hover{
    background-color: #b45309;
    border-radius: 18px;
    border-style: hidden;
}
.sign{
    border-radius: 20px;
    background-color: #b45309;
    padding:6px 10px;
}
.one{
    margin-top: 4px;
}
.sign:hover{
    background-color:#f59e0b;
}